Client/Temp/UnityLockfile
Client/.vs/Client/v15/Server/sqlite3/storage.ide-wal
Client/.vs/Client/v15/Server/sqlite3/storage.ide-shm
Client/.vs/Client/v15/Server/sqlite3/storage.ide
Client/.vs/Client/v15/.suo
Client/Client.csproj
Client/Client.Editor.csproj
Client/Library/assetDatabase3
Client/Library/metadata/0f/0fc1818a4bfbb31438ebb973e2004936
Client/Library/metadata/3c/3cfc5c2e517e6904ca030c39cb30d1da
Client/Library/metadata/5a/5aa5ec1011d68274b9b005b45c4bd02f
Client/Library/metadata/5a/5aa5ec1011d68274b9b005b45c4bd02f.info
Client/Library/metadata/63/63cad9db815d08640b6873bec1b5fd89
Client/Library/metadata/63/63cad9db815d08640b6873bec1b5fd89.info
Client/Library/metadata/71/711d6306ac136844cad0452dc6fc54c7
Client/Library/metadata/71/711d6306ac136844cad0452dc6fc54c7.info
Client/Library/metadata/e9/e9775b1ea1af6174e95581e80d0750f0
Client/Library/metadata/e9/e9775b1ea1af6174e95581e80d0750f0.info
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/ShaderCache.db
Client/Temp/UnityTempFile-45039df7dba1c994f8ecf53e6fa93a6e
Client/Temp/UnityTempFile-59e8b50ebe5f9db4fbdafaf283d9a147
Client/Temp/UnityTempFile-a9800130c553c174bbb1d9ff5e545e76
Client/Temp/UnityVS_obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/Client.Editor.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client.csproj
Client/Client.Editor.csproj
Client/Library/assetDatabase3
Client/Library/metadata/0f/0fc1818a4bfbb31438ebb973e2004936
Client/Library/metadata/3c/3cfc5c2e517e6904ca030c39cb30d1da
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Temp/UnityVS_obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/Client.Editor.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client.csproj
Client/Client.Editor.csproj
Client/Library/assetDatabase3
Client/Library/metadata/0f/0fc1818a4bfbb31438ebb973e2004936
Client/Library/metadata/3c/3cfc5c2e517e6904ca030c39cb30d1da
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Temp/UnityVS_obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/Client.Editor.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client.csproj
Client/Client.Editor.csproj
Client/Library/assetDatabase3
Client/Library/metadata/0f/0fc1818a4bfbb31438ebb973e2004936
Client/Library/metadata/3c/3cfc5c2e517e6904ca030c39cb30d1da
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Temp/UnityVS_obj/Debug/Client.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/Client.Editor.csproj.CoreCompileInputs.cache
Client/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/Client.csproj
*.bin

*.cache

Client/Assets/Test/Stub.meta

*.meta

Client/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb

Client/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll

Client/Library/metadata/57/577856beabc324af7be6b0197bd017f8.info

Client/Library/metadata/00/*

server/log/*

server/_build/*

*.beam
