{erl_opts, [debug_info, {i, "3rd/gpb/include/"}, {i, "libs/share/include"}]}.
{deps, []}.

{plugins, [
  {rebar3_gpb_plugin, "2.3.1"}
]}.

{gpb_opts, [
  {i, "msg"},
  {module_name_suffix, "_pb"},
  {o_erl, "src/_erl"},
  {o_hrl, "include"},
  defaults_for_omitted_optionals
]}.

{provider_hooks, [
  {pre, [
    {compile, {protobuf, compile}},
    {clean, {protobuf, clean}}
  ]}
]}.
