#---------------------------- config tmpl-------------------------------
LagerCfg="
  {lager, [
    {log_root, \"log\"},
    {handlers, [
      {lager_console_backend, [{level, $LAGER_CONSOLE_BACKEND_LEVEL}]},
      {lager_file_backend, [{file, \"error.log\"}, {level, error}, {count, 10}, {size, 10240000}]},
      {lager_file_backend, [{file, \"info.log\"}, {level, info}, {count, 10}, {size, 10240000}]}
    ]},
    {extra_sinks,
      [{oss_file_lager_event,
        [
          {handlers, 
            [{lager_file_backend, 
              [
                {file, \"$LAGER_OSS_DIR\"},
                {level, info},
                {count, 10},
                {size, 10240000},
                {formatter_config, [message, \"\\\n\"]},
                {date, \"\$S300\"}
              ]
            }]
          },
          {async_threshold, 500},
          {async_threshold_window, 50}
        ]
      }]
    },
    {crash_log, \"crash.log\"},
    {crash_log_size, 10240000},
    {crash_log_count, 10},
    {error_logger_hwm, 100},
    {colored, $LAGER_COLORED}
  ]}"
GameCfg="
  {game_svr, [
    {svr_id,  ${SERVER_ID}},
    {gs_port, ${SERVER_PORT}},
    {game_mode, ${GAME_MODE}},
    {sdk_mode, ${SDK_MODE}},
    {bt_mode, ${BT_MODE}},
    {cli_version, \"$CLI_VERSION\"},
    {region, $REGION}
  ]}"

#---------------------------- game_svr config  -------------------------------
game_svr_cfgs=[$LagerCfg,$GameCfg].