{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.
{deps, [
  {cowboy,  "2.4.0"},
  {lager,   "3.6.3"},
  {poolboy, "1.5.1"},
  {jiffy,   "0.15.2"},
  {csv2record, {git, "https://github.com/lintingbin2009/csv2record", {tag, "0.0.1"}}}
]}.

{checkouts_dir, "3rd"}.

{project_app_dirs, ["apps/*", "libs/*", "tools/*", "."]}.

%% == Cover ==
%% Whether to enable coverage reporting where commands support cover. Default
%% is `false'
{cover_enabled, false}.

%% Modules to exclude from cover
{cover_excl_mods, []}.

%% Options to pass to cover provider
{cover_opts, [
  {i, "libs/csv_lib/include/"},
  {i, "libs/share/include/"},
  {i, "libs/proto/include/"},
  {i, "apps/game_svr/include/"}]}.

{relx, [
  {release,
    {game_svr, "0.1.0"},
    [game_svr, proto, csv_lib, sasl],
    [{sys_config, "config/_output/game_svr.config"},{vm_args, "config/_output/game_svr_vm.args"},{extended_start_script, true}]
  },
  {release,
    {drama_svr, "0.1.0"},
    [drama_svr, csv_lib, sasl],
    [{sys_config, "config/_output/drama_svr.config"},{vm_args, "config/_output/drama_svr_vm.args"},{extended_start_script, true}]
  },
  {dev_mode, false},
  {include_src, false},
  {include_erts, false}
 ]
}.

{profiles, [
  {prod, [
    {erl_opts, [debug_info, export_all, {parse_transform, lager_transform}]},
    {relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, false},
      {extended_start_script, true},
      {overlay, [{mkdir, "battle"}]}
    ]}
  ]},
  {test, [
    {erl_opts, [export_all]},
    {deps, [
      {meck, "0.8.12"}
    ]}
  ]}]
}.

{dialyzer, [
  {base_plt_apps, [erts, crypto, kernel, sasl, stdlib, mnesia, inets, runtime_tools, eunit]},
  {warnings, [
    error_handling, unknown]}
]}.

{eunit_opts, [verbose]}.